{% if var1 %}
  <span class="{{ classes|clean_class }}">{{ var1 }}</span>
{% endif %}
{%  if var2 %}
  <div>{{ var2.3.g }}</div>
{% endif %}
<div class="{% for i in 0..myclasscount %}minion{{ i }} {% endfor %}">{{ "Hello"|t }}</div>